.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
  color: rgba(220, 48, 105, 0.837);
}

.logoutBtn {
  font-weight: 700;
  color: #0a4057;
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.logoutBtn:hover {
  color: #41a69f;
}
